In [1]:
import pandas as pd
import numpy as np

In [2]:
file_to_load = "C:\\Users\\marc_\\Desktop\\Project_2_GH\\18-Project_2\\Raw Data\\LA_Certificated_Dispensary_Locations.csv"

In [3]:
disp_df = pd.read_csv(file_to_load)

In [4]:
disp_df.head()

,LOCATION ACCOUNT #,BUSINESS NAME,DBA NAME,CONFIRMED,STREET ADDRESS,CITY,ZIP CODE,LOCATION DESCRIPTION,MAILING ADDRESS,MAILING CITY,MAILING ZIP CODE,COUNCIL DISTRICT,LOCATION START DATE,LOCATION
0,0003073895-0001-0,PARADISE FACTORY LLC,NaN,NaN,385 W 20TH STREET,SAN PEDRO,90731-5503,385 20TH 90731-5503,NaN,NaN,NaN,15,1/1/2018,"(33.7258, -118.2855)"
1,0003067561-0001-9,WALIBE SOLUTIONS INC,NaN,NaN,400 N MARINE AVENUE,WILMINGTON,90744-5629,400 MARINE 90744-5629,NaN,NaN,NaN,15,1/1/2018,"(33.7744, -118.2629)"
2,0002201665-0001-0,DELTA-9 T.H.C.,DELTA-9 T.H.C,NaN,824 E ANAHEIM STREET UNIT #B,WILMINGTON,90744-6833,824 ANAHEIM 90744-6833,824 E ANAHEIM STREET UNIT #B,WILMINGTON,90744-6833,15,12/1/2006,"(33.7805, -118.2523)"
3,0002275038-0001-7,KUSH KORNER II,K.K.II,NaN,813 CRISTOBAL AVENUE,WILMINGTON,90744-4708,813 CRISTOBAL 90744-4708,10058 SUNLAND BLVD,SUNLAND,91040-1649,15,9/13/2007,"(33.7816, -118.243)"
4,0002247121-0001-5,HERBAL SOLUTIONS SOUTHERN CALIFORNIA INC,EVOLV CANNABIS | LA BREA COMPASSIONATE CAREGIVERS,NaN,25937 WESTERN AVENUE,LOMITA,90717-3361,25937 WESTERN 90717-3361,25937 WESTERN AVENUE,LOMITA,90717-3361,15,5/15/2007,"(33.7871, -118.3081)"

In [5]:
disp_df.reset_index(drop = True, inplace = True)

In [6]:
disp_df.head()

,LOCATION ACCOUNT #,BUSINESS NAME,DBA NAME,CONFIRMED,STREET ADDRESS,CITY,ZIP CODE,LOCATION DESCRIPTION,MAILING ADDRESS,MAILING CITY,MAILING ZIP CODE,COUNCIL DISTRICT,LOCATION START DATE,LOCATION
0,0003073895-0001-0,PARADISE FACTORY LLC,NaN,NaN,385 W 20TH STREET,SAN PEDRO,90731-5503,385 20TH 90731-5503,NaN,NaN,NaN,15,1/1/2018,"(33.7258, -118.2855)"
1,0003067561-0001-9,WALIBE SOLUTIONS INC,NaN,NaN,400 N MARINE AVENUE,WILMINGTON,90744-5629,400 MARINE 90744-5629,NaN,NaN,NaN,15,1/1/2018,"(33.7744, -118.2629)"
2,0002201665-0001-0,DELTA-9 T.H.C.,DELTA-9 T.H.C,NaN,824 E ANAHEIM STREET UNIT #B,WILMINGTON,90744-6833,824 ANAHEIM 90744-6833,824 E ANAHEIM STREET UNIT #B,WILMINGTON,90744-6833,15,12/1/2006,"(33.7805, -118.2523)"
3,0002275038-0001-7,KUSH KORNER II,K.K.II,NaN,813 CRISTOBAL AVENUE,WILMINGTON,90744-4708,813 CRISTOBAL 90744-4708,10058 SUNLAND BLVD,SUNLAND,91040-1649,15,9/13/2007,"(33.7816, -118.243)"
4,0002247121-0001-5,HERBAL SOLUTIONS SOUTHERN CALIFORNIA INC,EVOLV CANNABIS | LA BREA COMPASSIONATE CAREGIVERS,NaN,25937 WESTERN AVENUE,LOMITA,90717-3361,25937 WESTERN 90717-3361,25937 WESTERN AVENUE,LOMITA,90717-3361,15,5/15/2007,"(33.7871, -118.3081)"

In [7]:
disp_df.to_json(r'../JSON Files/DISP.JSON', orient = "index")